* {
    margin: 0;
    padding: 0;
}


/* start from here 😋 */

.home-sec-1 {
    background: url(../images/home-sec-1.jpg);
    padding-bottom: 20px;
    /* background-image: url(/home-page/background-herosection.webp); */
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-row-1 {
    padding: 1% 6%;
    font-family: Nunito;
}

.left-container {
    margin: 23% 0;
}

.right-container img {
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
    height: 550px;
    vertical-align: middle;
    margin: auto;
}

.right-container {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.sub-head {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Nunito;
    position: relative;
    color: rgb(15, 218, 174);
    margin-bottom: 2%;
}

.sub-head::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    top: calc(50% - 1px);
    right: calc(100% + 16px);
    background-image: linear-gradient( 94deg, rgb(15, 173, 193), rgb(73, 222, 130));
}

.main-head {
    font-size: 41px;
    font-weight: 700;
    line-height: 1.2;
    font-family: Nunito;
    color: rgb(32, 43, 80);
    margin-bottom: 3%;
}

.main-para {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 3%;
}

.know-more {
    padding: 14px 60px;
    line-height: 0.81;
    border-radius: 8px;
    font-weight: 700;
    border: 1px solid rgb(32, 43, 80);
    outline: 0px;
    box-shadow: none;
    letter-spacing: normal;
    text-align: center;
    transition: all 0.3s ease 0s;
    margin-top: 2%;
}
.mynav{
    margin-left: auto;
}
.para-st-1{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3%;
}
.sub-head-1{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    font-family: Nunito;
    position: relative;
    margin-bottom: 4%;
}
.main-sub-1{
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    font-family: Nunito;
    color: rgb(32, 43, 80);
    margin-bottom: 5%;
}
.img-1{
    width:100%;
}
.card-border{
    margin: 1% 0% 4%;
    padding: 30px;
    
}
.main-Title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    font-family: Nunito;
    color: rgb(32, 43, 80);
    /* margin-bottom: 3%; */
    padding: 3% 0 0;
}
.sec-3{
    background-color: #fafafa;
}
.card-box{
    padding: 10% 12%;
    text-align: center;
    border: 1px solid rgb(211 211 211);
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px #d1cfcf;
}
.footer{
    background: url(../images/9.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000e0;
    background-blend-mode: overlay;
    text-align: center;
}
.footer-logo{
    margin-bottom: 10%;
    width: 35%;
}
.f-text{
    color:#878787;
}

.logo-text{
    font-weight: 700;
    line-height: 1.2;
    font-family: Nunito;
    color: #202b50;
    background: -webkit-linear-gradient(#202b50, #0fe0d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.nav-text{
        font-weight: 600;
    font-family: Nunito;
    color: #202b50;
    background: -webkit-linear-gradient(#0fe0d8, #202b50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}
.dropdown-toggle::after {
    
    vertical-align: 0.055em;
}
/***************** slider style *****************/

.sec-3{
    overflow: hidden;
}
.main-slider .item .S-box img{
    width: 45%;
}
.main-box{
    width: 100%;
   position: relative; 
}
.main-box .conatiner{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* margin: 10% 10%;    
    width: 151%; */
    margin: 4% 2%;
    width: 160%;
    padding: 1% 0;
    overflow: hidden;
}
.conatiner .item{
    justify-content: center;
    width: 20%;
    margin: 0 2%;
}
.slide-buttons{
display: flex;
flex-direction: row;
justify-content: space-between;
position: absolute;
width: 100%;
top: 50%;
/* align-items: center; */
transform: translate(0 , -50%);
}
.slide-buttons button{
color: #000;
background: #eeeeee;
box-shadow: 0 0 15px 0px #c2c2c2;
border-radius: 50%;
width: 50px;
height: 50px;
border: 0px;    
}